/* 1. declaração das variáveis de cores */
:root {
    --cor-fundo: #f0f2f5;
    --cor-branco: #ffffff;
    --cor-texto-primario: #1c1e21;
    --cor-texto-secundario: #606770;
    --cor-borda: #dcdfe3;
    --cor-acento: #007bff;
}

/* 2. Reset e Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--cor-fundo);
    /* Nesse trecho para baixo, os comandos serão para centralizar o card na página para visualização */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* 3.Estilo do componente principal: .card */
.card {
    background-color: var(--cor-branco);
    width: 320px;
    border-radius: 16px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    /* A mágica da animação começa aqui */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Esconder qualquer conteúdo filho que possivelmente saia dos limites  */
    overflow: hidden;
    text-align: center;
}

/* 4.Efeito hover no card */
.card:hover {
    transform: translateY(-10px);
    /* Mover o card em 10 px para cima */
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}